.right-main{
    border-left: 1px solid rgb(192, 191, 191);
}
.right-head{
    border-bottom: 1px solid rgb(212, 210, 210);
    padding: 11px;
}
.input{
    outline: none;
    background-color: white;
    border-radius: 8px;
    color:rgb(75, 177, 239);
    border: 2px solid grey;

}